# Ignore compiled files
*.o
*.lo
*.a
*.so
*.so.*
*.la
*.pch
*.obj
*.exe
*.lib
*.dll
*.ilk
*.pdb

# Ignore backup files
*~
*.bak

# Ignore linkinfo files
*.linkinfo

# Ignore patch remains
*.orig
*.rej

# Ignore vim swap files
*.swo
*.swp

# Ignore build system files
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
CMakeFiles/
Testing/
kernel/CMakeFiles/
kernel/Testing/
kernel/util/CMakeFiles/
kernel/util/Testing/
test_system/CMakeFiles/
test_system/Testing/

# Ignore FEAT test output files
*test*.log

# Ignore Doxygen output files
doc/*

# Ignore third-party sources and tarballs
thirdparty/*.gz
thirdparty/*.tgz
thirdparty/*.zip
thirdparty/alglib
thirdparty/fparser
thirdparty/half
thirdparty/hypre
thirdparty/parmetis
thirdparty/SuiteSparse
thirdparty/triangle
thirdparty/zlib

# Ignore Visual Studio symlinks
build_system/vc14/kernel/

# Ignore Visual Studio user/filter files
*.vcxproj.user
*.vcxproj.filters

# Ignore Visual Studio output files
lib/*
obj/*
win/*

# Ignore Visual Studio intermediate files
*.opensdf
*.sdf
*.suo
*.VC.db
ipch

# Ignore Windows Links
*.lnk

# Ignore Visual Studio user-configfiles
config-vc14.xml
