# Ignore compiled files
*.o
*.lo
*.a
*.so
*.so.*
*.la
*.pch
*.obj
*.exe
*.lib
*.dll
*.ilk
*.pdb

# Ignore backup files
*~
*.bak

# Ignore linkinfo files
*.linkinfo

# Ignore patch remains
*.orig
*.rej

# Ignore vim swap files
*.swo
*.swp

# Ignore build system files
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
CMakeFiles/
Testing/
kernel/CMakeFiles/
kernel/Testing/
kernel/util/CMakeFiles/
kernel/util/Testing/
test_system/CMakeFiles/
test_system/Testing/

# Ignore FEAST test output files
*test*.log

# Ignore Doxygen output files
doc/*

# Ignore Visual Studio output files
lib/*
obj/*

# Ignore Visual Studio solution files
visual_studio/*.opensdf
visual_studio/*.sdf
visual_studio/*.suo
visual_studio/*.sln
